.dropdown-component {
  @extend .dropdown;

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  &__header {
    display: flex;
    padding: 10px;
  }

  &__header-avatar {
    border-radius: 50%;
  }

  &__heading {
    padding: 8px 10px;
    @extend .dropdown-header;
  }
}
