.header {
  background-color: $header-bg;
  min-height: $nav-height;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    color: white;
    @extend .container;
  }

  &__left {
    flex: 1 0 auto;
  }

  &__logo {
    height: 60px;
  }

  &__nav-link {
    padding: 1.5rem 1rem;
    @extend .nav-link;
    @extend .text-white;
  }

  &__nav-active {
    border-bottom: 3px solid;
  }
}
