.password-input-component {
  margin-bottom: 1rem;

  &__label {
    width: 100%;
    color: $text-muted;
    margin-bottom: 0;
  }

  &__input {
    @extend .form-control;
  }

  &__error {
    color: $danger;
    @extend .form-text;
  }
}
