.login-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  @extend .form-group;

  &__button-container {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__submit-button {
    @extend .btn, .btn-primary;
  }
}
